<mat-toolbar>
  <a [routerLink]="['/posts']">
    <span>Posts</span>
  </a>
  <span class="spacer"></span>
  <a
    *ngIf="!(authService.login$ | async)?.length; else loggedMenu"
    mat-icon-button
    matTooltip="Login"
    [routerLink]="['/login']"
  >
    <mat-icon>login</mat-icon>
  </a>
  <ng-template #loggedMenu>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        {{ authService.login$ | async }}
      </button>
      <button
        mat-menu-item
        (click)="authService.logout()"
        matTooltip="Logout"
      >
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
