<h2 *ngIf="!image.value; else imagePreview">
  Faça um post
</h2>
<ng-template #imagePreview>
  <img
    [postsSrcDebounce]="image.value"
    alt="Pre-visualizar imagem"
  >
</ng-template>
<form
  [formGroup]="formGroup"
  (ngSubmit)="submitPost()"
>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>URL da imagem</mat-label>
      <input
        #image
        matInput
        formControlName="image"
        placeholder="Ex. https://link.da.imagem.com/pudim.jpg"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mensagem</mat-label>
      <textarea
        #message
        maxlength="150"
        cdkTextareaAutosize
        cdkAutosizeMaxRows="3"
        matInput
        formControlName="message"
        placeholder="Mensagem"
      ></textarea>
      <mat-hint align="end">
        {{ message.value.length }} / 150
      </mat-hint>
    </mat-form-field>
  </div>
  <mat-spinner
    [diameter]="30"
    *ngIf="loading; else button"
  ></mat-spinner>
  <ng-template #button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="loading || formGroup.invalid"
    >
      <mat-icon>send</mat-icon>
    </button>
  </ng-template>
</form>
