:host {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  img {
    max-width: 400px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    width: 100%;
    align-items: flex-end;

    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    button {
      margin-bottom: 19px;
      height: 36px;
    }
  }
}
