<form
  [formGroup]="formGroup"
  (ngSubmit)="submitPost()"
>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>URL da imagem</mat-label>
      <input
        matInput
        formControlName="image"
        placeholder="Ex. Pizza"
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mensagem</mat-label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMaxRows="2"
        matInput
        formControlName="message"
        placeholder="Mensagem"
      ></textarea>
    </mat-form-field>
  </div>
  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="formGroup.invalid"
  >
    <mat-icon>send</mat-icon>
  </button>
</form>
