:host {
  width: 100%;
  display: grid;
  place-items: center;

  form {
    display: flex;
    flex-direction: column;
    max-width: 225px;
    align-items: center;

    mat-spinner {
      width: 13px;
    }
  }

}
