<form
  [formGroup]="formGroup"
  (ngSubmit)="signIn()"
>
  <mat-form-field
   appearance="fill"
  >
    <mat-label>Usuário</mat-label>
    <input
      formControlName="login"
      type="text"
      matInput
      placeholder="Jeff"
    >
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="formGroup.get('login')?.hasError('required')">
      Usuário <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field
   appearance="fill"
  >
    <mat-label>Senha</mat-label>
    <input
      formControlName="password"
      type="password"
      matInput
    >
    <mat-icon matSuffix>password</mat-icon>
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
      Senha <strong>obrigatório</strong>
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Senha <strong>deve ter pelo menos 3 caracteres</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-button
    color="basic"
    aria-label="Sign in"
    type="submit"
    [disabled]="formGroup.invalid"
  >
    Entrar
    <mat-icon>send</mat-icon>
  </button>
</form>
