:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;

  mat-icon {
    font-size: 36px;
  }

  .blue {
    color: rgb(74, 99, 207);
  }

  mat-card-content {
    overflow: hidden;
    word-break: break-all;
  }

}
